.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #4771c6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Titulo{
  font-size:90px;
  display: flex;
  flex-direction: row-reverse;
  width: 500px;
  height: 330px;
}

.jugador{
  justify-content: center;
  flex-direction: column-reverse;
  font-size:70px;
  word-spacing: 500pt;  
 
  
}
.PPT{
justify-content:end;
}

.puntajes{
  word-spacing: 400pt;
}
.boton{
  display:inline-block;
  flex-direction:initial;
  width: 150px;
  height: 150px;
}